<?php
const WASPY_ENV     = 'LIVE';
const WASPY_DIR     = '/path/to/waspy/folder/without/trailing/slash'
const WASPY_GMAN    = 'WASPY_LIVE';

const PHONE_NUMBER  = '';
const PHONE_IDENT   = '';
const PHONE_ALIAS   = '';
const PHONE_PASS    = '';

const DB_HOST       = '';
const DB_USER       = '';
const DB_PASS       = '';
const DB_NAME       = '';
const DB_PREFIX     = '';

const DEBUG_EVENTS  = false;
const DEBUG_PROTO   = false;
const KEEP_ALIVE    = 5;

const PUSHOVER_API  = '';
const PUSHOVER_KEY  = '';
?>
